# This file contains a configuration for the "Anycubic Kossel Linear
# Plus Large Printing Size", "Anycubic Kossel Pulley Plus Large
# Printing Size" and similar delta printer from 2017.
# The board is upgraded to the BIGTREETECH SKR V1.3.
# The firmware is compiled for the LPC1768


# See the example.cfg file for a description of available parameters.

[probe]
pin: P1.25          
#   The distance (in mm) between the bed and the nozzle when the probe triggers
z_offset: 15.96
samples: 3
speed: 10.0
# The distance (in mm) to retract between each sample if sampling more than once
sample_retract_dist: 2.0

# X
[stepper_a]
step_pin: P2.2
dir_pin: P2.6
enable_pin: !P2.1
step_distance: .0125
endstop_pin: ^P1.28  # P1.29  # P1.28 for X-max
homing_speed: 20
position_endstop = 293.124587
arm_length = 269.000000

# Y
[stepper_b]
step_pin: P0.19
dir_pin: P0.20
enable_pin: !P2.8
step_distance: .0125
endstop_pin: ^P1.26  # P1.27  # P1.26 for Y-max
position_endstop = 292.146003
arm_length = 269.000000

# Z
[stepper_c]
step_pin: P0.22
dir_pin: P2.11
enable_pin: !P0.21
step_distance: .0125
endstop_pin: ^P1.24  # P1.25  # P1.24 for Z-max
position_endstop = 292.646443
arm_length = 269.000000

[extruder]
step_pin: P2.13
dir_pin: P0.11
enable_pin: !P2.12
#step_distance: 0.0104166
step_distance: 0.0099999
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: P2.7
sensor_type: EPCOS 100K B57560G104F
sensor_pin: P0.24
control = pid
pid_kp = 70.936
pid_ki = 1.403
pid_kd = 896.451
min_extrude_temp: 150
min_temp: 0
max_temp: 275

[heater_bed]
heater_pin: P2.5
sensor_type: EPCOS 100K B57560G104F
# sensor_type: ATC Semitec 104GT-2
sensor_pin: P0.25
control: pid
pid_kp = 70.936
pid_ki = 1.403
pid_kd = 896.451
# control: watermark
min_temp: 0
max_temp: 130

[fan]
pin: P2.3

[heater_fan extruder_cooler_fan]
pin: P2.4
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

[mcu]
serial: /dev/serial/by-id/usb-Klipper_lpc1768_1BD00015039445AFAE51DE5CC42000F5-if00

[printer]
kinematics: delta
max_velocity: 800
max_accel: 3000
max_z_velocity: 200
delta_radius: 134.4
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5

[idle_timeout]
timeout: 360

[delta_calibrate]
radius: 120
speed: 50
horizontal_move_z: 35


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=P1.30, EXP1_3=P1.18, EXP1_5=P1.20, EXP1_7=P1.22, EXP1_9=<GND>,
    EXP1_2=P0.28, EXP1_4=P1.19, EXP1_6=P1.21, EXP1_8=P1.23, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=P0.17, EXP2_3=P3.26, EXP2_5=P3.25, EXP2_7=P1.31, EXP2_9=<GND>,
    EXP2_2=P0.15, EXP2_4=P0.16, EXP2_6=P0.18, EXP2_8=<RST>, EXP2_10=<NC>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp0"

[display]
lcd_type: hd44780
rs_pin: EXP1_4
e_pin: EXP1_3
d4_pin: EXP1_5
d5_pin: EXP1_6
d6_pin: EXP1_7
d7_pin: EXP1_8
encoder_pins: ^EXP2_3, ^EXP2_5
click_pin: ^!EXP1_2
# kill_pin: ^!EXP2_8

[virtual_sdcard]
path: ~/.octoprint/uploads/

[bed_mesh]
speed: 60
horizontal_move_z: 20
mesh_radius: 115
mesh_origin: 0,0
round_probe_count: 5

########################################
# TMC2209 configuration
########################################

# For TMC2209 UART
#   1) Remove all of the jumpers below the stepper drivers
#   2) Place jumpers on the red pin headers labeled XUART (XUART, YUART etc.)

[tmc2209 stepper_a]
uart_pin: P1.17
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_b]
uart_pin: P1.15
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 stepper_c]
uart_pin: P1.10
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 250

[tmc2209 extruder]
uart_pin: P1.8
microsteps: 16
run_current: 0.800
hold_current: 0.500
stealthchop_threshold: 5

