# This file contains a configuration for the "Anycubic Kossel Linear
# Plus Large Printing Size", "Anycubic Kossel Pulley Plus Large
# Printing Size" and similar delta printer from 2017.
# The Anycubic delta printers use the TriGorilla board which is an
# AVR ATmega2560 Arduino + RAMPS compatible board.
# To use this config, the firmware should be compiled for the AVR atmega2560.

# See the example.cfg file for a description of available parameters.

[probe]
#   Probe detection pin. This parameter must be provided.
pin: ^ar18          
#   The distance (in mm) between the bed and the nozzle when the probe triggers
#z_offset: 14.8
#z_offset: 15.8
#z_offset: 16.0
z_offset: 17.0
# Number of probe samples
samples: 3
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
speed: 10.0
# The distance (in mm) to retract between each sample if sampling more than once
sample_retract_dist: 2.0
#activate_gcode:
#   A list of G-Code commands (one per line) to execute prior to each
#   probe attempt. This may be useful if the probe needs to be
#   activated in some way. The default is to not run any special
#   G-Code commands on activation.
#deactivate_gcode:
#   A list of G-Code commands (one per line) to execute after each
#   probe attempt completes. The default is to not run any special
#   G-Code commands on deactivation.

[stepper_a]
step_pin: ar54
dir_pin: ar55
enable_pin: !ar38
step_distance: .0125
endstop_pin: ^ar2
homing_speed: 10
# The next parameter needs to be adjusted for
# your printer. You may want to start with 280
# and meassure the distance from nozzle to bed.
# This value then needs to be added.
#position_endstop: 295.6
#arm_length: 266.0

[stepper_b]
step_pin: ar60
dir_pin: ar61
enable_pin: !ar56
step_distance: .0125
endstop_pin: ^ar15

[stepper_c]
step_pin: ar46
dir_pin: ar48
enable_pin: !ar62
step_distance: .0125
endstop_pin: ^ar19

[extruder]
step_pin: ar26
dir_pin: ar28
enable_pin: !ar24
#step_distance: 0.0104166
step_distance: 0.0099999
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar10
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog13
#control: pid
#pid_Kp: 25.349
#pid_Ki: 1.216
#pid_Kd: 132.130
min_extrude_temp: 150
min_temp: 0
max_temp: 275

[heater_bed]
heater_pin: ar8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: analog14
#control: pid
#pid_kp: 73.517
#pid_ki: 1.132
#pid_kd: 1193.728
min_temp: 0
max_temp: 130

[fan]
pin: ar9
kick_start_time: 0.200

[heater_fan extruder_cooler_fan]
pin: ar44
heater: extruder
heater_temp: 50.0
fan_speed: 1.0

# if you want to use your probe for DELTA_CALIBRATE you will need that
# [probe]
# pin: ^ar18
# z_offset: 15.9
# samples: 3

[mcu]
#serial: /dev/ttyUSB0
serial: /dev/serial/by-id/usb-Silicon_Labs_CP2102_USB_to_UART_Bridge_Controller_0001-if00-port0
pin_map: arduino

[printer]
kinematics: delta
max_velocity: 800
max_accel: 3000
max_z_velocity: 200
#delta_radius: 134.4
# if you want to DELTA_CALIBRATE you may need that
minimum_z_position: -5

[idle_timeout]
timeout: 360

[delta_calibrate]
radius: 120
speed: 50
horizontal_move_z: 35

# "RepRapDiscount 2004 Smart Controller" type displays
[display]
lcd_type: hd44780
rs_pin: ar16
e_pin: ar17
d4_pin: ar23
d5_pin: ar25
d6_pin: ar27
d7_pin: ar29
encoder_pins: ^ar31, ^ar33
click_pin: ^!ar35
kill_pin: ^!ar41

[virtual_sdcard]
path: ~/.octoprint/uploads/

[bed_mesh]
speed: 60
horizontal_move_z: 20
mesh_radius: 115
mesh_origin: 0,0
round_probe_count: 5

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.327
#*# pid_ki = 0.702
#*# pid_kd = 119.584
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.936
#*# pid_ki = 1.403
#*# pid_kd = 896.451
#*#
#*# [printer]
#*# delta_radius = 134.990338
#*#
#*# [stepper_a]
#*# angle = 210.055952
#*# position_endstop = 293.124587
#*# arm_length = 266.000000
#*#
#*# [stepper_b]
#*# angle = 327.508916
#*# arm_length = 269.000000
#*# position_endstop = 292.146003
#*#
#*# [stepper_c]
#*# angle = 90.000000
#*# arm_length = 269.000000
#*# position_endstop = 292.646443
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.174721, -0.174721, -0.174721, -0.174721, -0.174721
#*# 	-0.015492, -0.015492, -0.030497, 0.148723, 0.148723
#*# 	0.130730, 0.182517, 0.045372, -0.024810, 2.590913
#*# 	0.131734, 0.131734, 0.136474, -0.060413, -0.060413
#*# 	0.107001, 0.107001, 0.107001, 0.107001, 0.107001
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = -114.998610461
#*# max_x = 115.004140229
#*# min_y = -115.00162969
#*# max_y = 114.994782339
#*#
#*# [delta_calibrate]
#*# height0 = 17.0
#*# height0_pos = 22086.000,22007.000,22052.000
#*# height1 = 17.0
#*# height1_pos = 27991.333,28066.333,19204.333
#*# height2 = 17.0
#*# height2_pos = 21598.333,31392.333,21567.333
#*# height3 = 17.0
#*# height3_pos = 19301.000,26526.000,26814.000
#*# height4 = 17.0
#*# height4_pos = 21368.000,21162.000,28188.000
#*# height5 = 17.0
#*# height5_pos = 26037.000,19400.000,25933.000
#*# height6 = 17.0
#*# height6_pos = 29884.667,21551.667,21431.667
